:root{
   --main-background-color : darkcyan;
   --navbar-background-color :  white;    <!-- dimgray -->
   --navbar-font-color :  white; <!-- rgba(255,255,255,.7)  -->

}
header.masthead{
    background: var(--main-background-color);
}

#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top {
    background-color: var(--navbar-background-color);
}
#mainNav a.navbar-brand.js-scroll-trigger{
    color: var(--navbar-font-color);
}
#mainNav div.container button.navbar-toggler.navbar-toggler-right{
    color: var(--navbar-font-color) ;

}
#mainNav li.nav-item a.nav-link.js-scroll-trigger{
    color: var(--navbar-font-color);
}
#features{
    background-color:var(--main-background-color) ;
}
#slideshow{
    background: dimgray;
}
.row.slideshow div.col-2.side{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.col-2.side button{
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 50%;
}
.row.slideshow div.col-8{

}
img.slide-image{
    display: none;
    border-radius: 10px;
    margin:auto;
}
img.slide-image.active{
    display: block;
    width: 100%;
    height: auto;
}
footer {
    background-color: var(--navbar-background-color);
}
footer div.container p{
    color: var(--navbar-font-color );
}
footer div.container ul.list-inline li.list-inline-item a{
    color:black ; <!-- var(--navbar-font-color ) -->
}

/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
/*Cookie Consent End*/

#btn-datenschutz,#btn-impressum{
 border: none;
}
/* The Modal (background) */
#modal-datenschutz,#modal-impressum{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0 ;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
 .modal-contentq {
     font-family: Lato,Arial,sans-serif;
   background-color: darkcyan;
     color:white;
     margin-right: 15%;
     margin-left: 15%;
     margin-top:5%;
     padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal-contentq h1.mb-2 {

    text-align: center;
    text-decoration: underline ;
    padding-bottom: 10px;
}
 ul.list.list-unstyled li{
     font-size: 18px;
 }

/* The Close Button */
#close-datenschutz,#close-impressum {
  /*  color: #aaa;*/
    color:white;
    float: right ;
    font-size: 28px;
    font-weight: bold;
    width: 3%;
}
.close{
    color:white;
}

#close-datenschutz:hover,
#close-datenschutz:focus,
#close-impressum:hover,
#close-impressum.focus{
  /*  color: black; */
    color: dimgray;
    text-decoration: none;
    cursor: pointer;
}

span.orange.active{
    color:orange;

}
span.orange{
    transition: all 1000ms ease-in-out; /* cubic-bezier*/
}















